<div>
  <header>
    <div class="header_background"></div>
    <div class="header_wrapper">
      <h1>Angular 2 Weather App</h1>
      <app-city-dropdown></app-city-dropdown>
    </div>
  </header>
  <div>
    <sebm-google-map
      [latitude]="mapParams.latitude"
      [longitude]="mapParams.longitude"
      [styles]="mapParams.styles"
      [zoom]="mapParams.zoom"
      [disableDefaultUI]="mapParams.disableDefaultUI"
      [zoomControl]="mapParams.zoomControl"
      (mapClick)="mapClicked($event)"
    >
      <sebm-google-map-marker
        *ngFor="let marker of markersList"
        [latitude]="marker.city.lat"
        [longitude]="marker.city.lng"
      >
        <sebm-google-map-info-window [isOpen]='marker.isOpen'>
          <div>{{marker.city.name}}</div>
          <div>{{marker.description}}</div>
          <div>{{marker.tempString}}</div>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
    <app-weather-list></app-weather-list>
  </div>
</div>
