@import 'src/styles';

.sebm-google-map-container {
  height: 1000px;
}

header {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;

  .header_background {
    position: absolute;
    background-color: $white-color;
    opacity: 0.5;
    height: 130px;
    width: 100%;
  }

  .header_wrapper {
    padding-top: 50px;

    h3 {
      margin: 0;
      position: absolute;
      left: 20%;
    }

    .right_side_wrapper {
      width: 300px;
      position: absolute;
      right: 20%;
    }
  }
}
