<div class="row">
  <h1 class="col-md-12">Angular 2 Weather App</h1>
  <div class="col-md-4">
    <app-city-dropdown></app-city-dropdown>
    <app-weather-list></app-weather-list>
    <sebm-google-map
      [latitude]="mapParams.latitude"
      [longitude]="mapParams.longitude"
      [zoom]="mapParams.zoom"
      [disableDefaultUI]="mapParams.disableDefaultUI"
      [zoomControl]="mapParams.zoomControl"
    >
      <sebm-google-map-marker
        *ngFor="let marker of markersList"
        [latitude]="marker.city.lat"
        [longitude]="marker.city.lng"
      >
        <sebm-google-map-info-window>
          <div>{{marker.city.name}}</div>
          <div>{{marker.description}}</div>
          <div>{{marker.temp}}</div>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </sebm-google-map>
  </div>
</div>
