@import 'src/styles';

.weather_list {
  display: block;
  margin-top: 60px;
  background-color: $light-grey-color;
  padding: 10px;

  .btn_filter_wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .btn_filter {
      padding: 16px 0;
      border-bottom: 1px solid $black-color;
      width: 100%;
      text-transform: uppercase;
    }

    .btn_filter:hover {
      background-color: darken( $light-grey-color, 2% );
      cursor: pointer;
    }
  }

  .weather_item {
    display: flex;
    width: 100%;
    margin: 10px 0;
    position: relative;
    background-color: $purple-color;
    border-radius: 5px;

    .weather_item_title {
      width: 300px;
    }

    .weather_item_temperature_wrapper {
      display: flex;
      justify-content: space-between;
    }

    .btn_close_wrapper {
      width: 13px;
      height: 13px;
      overflow: hidden;
      position: absolute;
      opacity: 0.7;
      right: 6px;
      top: 6px;
      cursor: pointer;

      img {
        position: absolute;
        left: -2px;
        top: -336px;
        width: 59px;
        height: 492px;
        user-select: none;
        border: 0px;
        padding: 0px;
        margin: 0px;
        max-width: none;
      }
    }
  }
}
